<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Live Data Display</title>
    <style>
        .container {
            display: flex;
            width: 100%;
        }
        .column {
            flex: 1;
            padding: 10px;
            box-sizing: border-box;
        }
        .column-4 {
            flex: 1.5;
            margin-left: auto;  
            position: sticky;
            top: 0;
            height: 100vh;
            overflow: hidden;
        } 
        .section {
            flex: 1;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            color: black;
            font-size: 1em;
            text-align: center;
        }
        .section input, .section button {
            margin: 5px;
            font-size: 1em;
        }
        .textbox, .input-box {
            margin: 10px;
            padding: 10px;
            width: 90%;
            text-align: center;
            font-size: 1em;
        }
        .live-value-textbox, #power-meter {
            margin: 5px;
            padding: 10px;
            width: 90%;
            text-align: center;
            font-size: 2.5em !important; /* Increase font size for Live Value */
            font-weight: 600;
        }
        .button {
            margin: 10px;
            padding: 10px 20px;
            font-size: 1em;
            cursor: pointer;
        }
        .button.active {
            background-color: lightgray;
        }
        .divider {
            width: 90%;
            height: 1px;
            background-color: black;
            margin: 10px auto;
        }
        .input-group {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .input-group input[type="checkbox"] {
            margin-left: 10px;
        }
        .label-text {
            font-size: 1em;
            margin: 5px;
        }
        img {
            width: 100%;
            height: auto;
        }
        .slider-container {
            display: flex;
            flex-direction: column;
            width: 90%;
        }
        input[type=number]::-webkit-inner-spin-button, 
        input[type=number]::-webkit-outer-spin-button {  
            opacity: 1;
        }
        .outline {
            padding: 5px;
            border: 1px solid #808080;
            border-radius: 2.5px;
            margin-top: 5px;
            width: 90%;
        }
        .input-group-horizontal {
            display: flex;
            align-items: center;
            margin-bottom: 10px; /* Optional: Add margin for spacing */
        }
    </style>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
</head>
<body>
    <div class="container">
        <div class="column column-1">
            <div class="section">
                <div class="label-text" id="title" style="text-align: center;">Live Value</div>
                <input type="text" class="live-value-textbox" id="value" value="" readonly>
                <label class="label-text" for="source-voltage">Source Voltage</label>
                <input type="number" class="input-box" id="source-voltage" value="0">
                <button class="button" id="start-button">Start</button>
                <button class="button" id="stop-button">Stop</button>
            </div>
            <div class="divider"></div>
            <div class="section">
                <div class="input-group">
                    <label class="label-text">
                        Chip Name
                        <input type="text" class="input-box" id="chip-name" disabled>
                        <input type="checkbox" id="chip-name-toggle" onchange="toggleInput('chip-name')">
                    </label>
                    <label class="label-text">
                        Experiment Name
                        <input type="text" class="input-box" id="experiment-name" disabled>
                        <input type="checkbox" id="experiment-name-toggle" onchange="toggleInput('experiment-name')">
                    </label>
                    <label class="label-text">
                        Component Name
                        <input type="text" class="input-box" id="component-name" disabled>
                        <input type="checkbox" id="component-name-toggle" onchange="toggleInput('component-name')">
                    </label>
                    <label class="label-text">
                        Measurement Type
                        <input type="text" class="input-box" id="measurement-type" disabled>
                        <input type="checkbox" id="measurement-type-toggle" onchange="toggleInput('measurement-type')">
                    </label>
                    <label class="label-text">
                        Working Directory
                        <input type="text" class="input-box" id="working-directory" disabled>
                        <input type="checkbox" id="working-directory-toggle" onchange="toggleInput('working-directory')">
                    </label>
                </div>
                <div class="divider"></div>
                <div class="input-group">
                    <label class="label-text">
                        Lower Limit (Volts)
                        <input type="number" class="input-box" id="lower-limit">
                    </label>
                    <label class="label-text">
                        Upper Limit (Volts)
                        <input type="number" class="input-box" id="upper-limit">
                    </label>
                    <label class="label-text">
                        Steps
                        <input type="number" class="input-box" id="steps">
                    </label>
                    <button class="button" id="sweep-button">Sweep</button>
                </div>
            </div>
            <div class="divider"></div>
            <div class="section" id="plot-section">
                <!-- Plot will be displayed here -->
            </div>
        </div>
        <div class="column column-2">
            <div class="section">
                <div class="label-text" id="title" style="text-align: center;">Power Meter</div>
                <input type="text" class="input-box" id="power-meter" value="" readonly>
                <button class="button" id="pm-start-button">Start</button>
                <button class="button" id="pm-stop-button">Stop</button>
                <div class="divider"></div>
                <button class="button" id="pm-start-record-button">Start Recording</button>
                <button class="button" id="pm-stop-record-button">Stop Recording</button>
                <div class="divider"></div>
                <button class="button" id="pm-zero-button">Zero</button>
                <div class="divider"></div>
                <div class="label-text" id="title" style="text-align: center;">Current Wavelength</div>
                <input type="text" class="input-box" id="pm-wavelength" value="" readonly>
                <div class="label-text" id="title" style="text-align: center;">Set New Wavelength (nm)</div>
                <input type="text" class="input-box" id="new-pm-wavelength" value="">
                <button class="button" id="set-wavelength-button">Set</button>
                <div class="divider"></div>
            </div>
        </div>
        <div class="column column-3">
            <div class="input-group">
                <div class="input-group-horizontal">
                    <label class="label-text" for="piezo_a" style="font-size: 1.5em;">Piezo A: </label>
                    <button class="button" id="a_connect">Connect</button>
                </div>
                <div class="outline">
                    <div class="section">
                        <label class="label-text" for="a_x">X: </label>
                        <div class="input-group-horizontal">
                            <input type="number" step="0.01" class="input-box" id="a_x" max="75" value="0">
                            <button class="button" id="a_x_ground">Ground</button>
                        </div>
                        <label class="label-text" for="a_y">Y: </label>
                        <div class="input-group-horizontal">
                            <input type="number" step="0.01" class="input-box" id="a_y" max="75" value="0">
                            <button class="button" id="a_y_ground">Ground</button>
                        </div>
                        <label class="label-text" for="a_z">Z: </label>
                        <div class="input-group-horizontal">
                            <input type="number" step="0.01" class="input-box" id="a_z" max="75" value="0">
                            <button class="button" id="a_z_ground">Ground</button>
                        </div>
                        <button class="button" id="a_ground_all">Ground All A</button>
                    </div>
                </div>
                <br>
                <div class="input-group-horizontal">
                    <label class="label-text" for="piezo_b" style="font-size: 1.5em;">Piezo B: </label>
                    <button class="button" id="b_connect">Connect</button>
                </div>
                <div class="outline">
                    <div class="section">
                        <label class="label-text" for="b_x">X: </label>
                        <div class="input-group-horizontal">
                            <input type="number" class="input-box" id="b_x" max="75" value="0">
                            <button class="button" id="b_x_ground">Ground</button>
                        </div>
                        <label class="label-text" for="b_y">Y: </label>
                        <div class="input-group-horizontal">
                            <input type="number" class="input-box" id="b_y" max="75" value="0">
                            <button class="button" id="b_y_ground">Ground</button>
                        </div>
                        <label class="label-text" for="b_z">Z: </label>
                        <div class="input-group-horizontal">
                            <input type="number" class="input-box" id="b_z" max="75" value="0">
                            <button class="button" id="b_z_ground">Ground</button>
                        </div>
                        <button class="button" id="b_ground_all">Ground All B</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="column column-4">
            <div class="label-text" id="title" style="text-align: center;">Live Camera Feed</div>
            <div class="section">
                <img id="liveCamera" src="/video_feed" alt="Live Camera Feed">
                <div class="slider-container">
                    <label class="label-text" for="brightness-slider">Brightness</label>
                    <input type="range" id="brightness-slider" class="slider" min="0" max="200" value="100">
                    <label class="label-text" for="contrast-slider">Contrast</label>
                    <input type="range" id="contrast-slider" class="slider" min="0" max="200" value="100">
                </div>
            </div>
        </div>
    </div>

    <script>
        const socket = io();
        let pmValues = []; // stores power meter output
        let record = false;

        function downloadCSV(data) {
            const csvContent = "data:text/csv;charset=utf-8," + data.map(e => e).join("\n");
            const encodedUri = encodeURI(csvContent);
            const link = document.createElement("a");
            link.setAttribute("href", encodedUri);
            link.setAttribute("download", "power_meter_data.csv");
            document.body.appendChild(link); 
            link.click();
            document.body.removeChild(link); 
        }

        document.getElementById('pm-start-button').addEventListener('click', function() {
            fetch('/start_pm', { method: 'POST' });
        });

        document.getElementById('pm-stop-button').addEventListener('click', function() {
            fetch('/stop_pm', { method: 'POST' });
        });

        document.getElementById('pm-start-record-button').addEventListener('click', function() {
            record = true;
            pmValues = ["pm_value"]; // clear array
        });

        document.getElementById('pm-stop-record-button').addEventListener('click', function() {
            if(record) {
                record = false;
                downloadCSV(pmValues);
                pmValues = ["pm_value"]; // clear array
            }
        });

        document.getElementById('pm-zero-button').addEventListener('click', function() {
            fetch('/zero_pm', { method: 'POST' })
                .then(response => {
                    if (response.status === 204) {
                        console.log('Zero was successful');
                    } else {
                        console.error('Zero was not successful');
                    }
                });
        });

        document.getElementById('start-button').addEventListener('click', function() {
            const sourceVoltage = parseFloat(document.getElementById('source-voltage').value);
            fetch('/start', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    source_voltage: sourceVoltage
                })
            });
            this.classList.add('active');
            document.getElementById('stop-button').classList.remove('active');
        });

        document.getElementById('stop-button').addEventListener('click', function() {
            fetch('/stop', { method: 'POST' });
            this.classList.add('active');
            document.getElementById('start-button').classList.remove('active');
        });
        

        socket.on('update_pm_value', function(data) {
            const pmValue = document.getElementById('power-meter');
            pmValue.value = data.value;
            if (record) {
                pmValues.push(data.value.split(' ')[0]); // add value to array
            }
        });

        socket.on('update_pm_wavelength', function(data) {
            const pmWavelength = document.getElementById('pm-wavelength');
            pmWavelength.value = data.value;
        });

        document.getElementById('set-wavelength-button').addEventListener('click', function() {
            const pmWavelength = parseFloat(document.getElementById('new-pm-wavelength').value);
            fetch('/set_wavelength', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    wavelength: pmWavelength
                })
            });
            document.getElementById('new-pm-wavelength').value = '';
        });

        socket.on('update_value', function(data) {
            const liveValue = document.getElementById('value');
            liveValue.value = data.value;
            const unit = liveValue.value.split(' ')[1];
            switch (unit) {
                case 'Y':
                    liveValue.style.color = '#440154FF';
                    break;
                case 'Z':
                    liveValue.style.color = '#481567FF';
                    break;
                case 'E':
                    liveValue.style.color = '#482677FF';
                    break;
                case 'P':
                    liveValue.style.color = '#453781FF';
                    break;
                case 'T':
                    liveValue.style.color = '#404788FF';
                    break;
                case 'G':
                    liveValue.style.color = '#39568CFF';
                    break;
                case 'M':
                    liveValue.style.color = '#33638DFF';
                    break;
                case 'k':
                    liveValue.style.color = '#2D708EFF';
                    break;
                case 'm':
                    liveValue.style.color = '#287D8EFF';
                    break;
                case 'µ':
                    liveValue.style.color = '#238A8DFF';
                    break;
                case 'n':
                    liveValue.style.color = '#1F968BFF';
                    break;
                case 'p':
                    liveValue.style.color = '#20A387FF';
                    break;
                case 'f':
                    liveValue.style.color = '#29AF7FFF';
                    break;
                case 'a':
                    liveValuet.style.color = '#3CBB75FF';
                    break;
                case 'z':
                    liveValue.style.color = '#55C667FF';
                    break;
                case 'y':
                    liveValue.style.color = '#73D055FF';
                    break;
                default:
                    liveValue.style.color = 'black';
                    break;
            }
        });

        function toggleInput(inputId) {
            const input = document.getElementById(inputId);
            input.disabled = !input.disabled;
        }

        document.getElementById('sweep-button').addEventListener('click', function() {
            // Automatically press the stop button if it is not already pressed
            const stopButton = document.getElementById('stop-button');
            if (!stopButton.classList.contains('active')) {
                stopButton.click();
            }

            const chipName = document.getElementById('chip-name').value;
            const experimentName = document.getElementById('experiment-name').value;
            const componentName = document.getElementById('component-name').value;
            const measurementType = document.getElementById('measurement-type').value;
            const workingDirectory = document.getElementById('working-directory').value;
            const lowerLimit = document.getElementById('lower-limit').value;
            const upperLimit = document.getElementById('upper-limit').value;
            const steps = document.getElementById('steps').value;

            // Clear existing plot
            document.getElementById('plot-section').innerHTML = '';

            fetch('/sweep', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    chip_name: chipName,
                    experiment_name: experimentName,
                    component_name: componentName,
                    measurement_type: measurementType,
                    working_directory: workingDirectory,
                    lower_limit: lowerLimit,
                    upper_limit: upperLimit,
                    steps: steps
                })
            })
            .then(response => response.json())
            .then(data => {
                const img = document.createElement('img');
                img.src = data.plot_url;
                img.style.maxWidth = '100%';
                img.onload = function() {
                    document.getElementById('plot-section').innerHTML = '';
                    document.getElementById('plot-section').appendChild(img);
                };
            })
            .catch(error => console.error('Error:', error));
        });

        document.getElementById('brightness-slider').addEventListener('input', function() {
            const brightnessValue = this.value;
            applyFilters();
        });

        document.getElementById('contrast-slider').addEventListener('input', function() {
            const contrastValue = this.value;
            applyFilters();
        });

        function applyFilters() {
            const brightnessValue = document.getElementById('brightness-slider').value;
            const contrastValue = document.getElementById('contrast-slider').value;
            const liveCamera = document.getElementById('liveCamera');
            liveCamera.style.filter = `brightness(${brightnessValue}%) contrast(${contrastValue}%)`;
        }

        // Ground buttons
        document.getElementById('a_x_ground').addEventListener('click', function() {
            setGround('a_x');
        });

        document.getElementById('a_y_ground').addEventListener('click', function() {
            setGround('a_y');
        });

        document.getElementById('a_z_ground').addEventListener('click', function() {
            setGround('a_z');
        });

        document.getElementById('b_x_ground').addEventListener('click', function() {
            setGround('b_x');
        });

        document.getElementById('b_y_ground').addEventListener('click', function() {
            setGround('b_y');
        });

        document.getElementById('b_z_ground').addEventListener('click', function() {
            setGround('b_z');
        });

        document.getElementById('a_ground_all').addEventListener('click', function() {
            setGround('a_x');
            setGround('a_y');
            setGround('a_z');
        });

        document.getElementById('b_ground_all').addEventListener('click', function() {
            setGround('b_x');
            setGround('b_y');
            setGround('b_z');
        });

        function setGround(inputId) {
            const input = document.getElementById(inputId);
            input.value = 0;
            fetch('/set_voltage', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    axis: inputId,
                    voltage: 0
                })
            });
        }

        document.getElementById('a_connect').addEventListener('click', function() {
            const button = this;
            const action = button.textContent === 'Connect' ? 'connect_piezo_a' : 'disconnect_piezo_a';
            fetch(`/${action}`, { method: 'POST' })
            .then(response => {
                if (response.status === 204) {
                    button.textContent = button.textContent === 'Connect' ? 'Disconnect' : 'Connect';
                } else {
                    console.error('Failed to connect/disconnect');
                }
            });
        });

        document.getElementById('b_connect').addEventListener('click', function() {
            const button = this;
            const action = button.textContent === 'Connect' ? 'connect_piezo_b' : 'disconnect_piezo_b';
            fetch(`/${action}`, { method: 'POST' })
            .then(response => {
                if (response.status === 204) {
                    button.textContent = button.textContent === 'Connect' ? 'Disconnect' : 'Connect';
                } else {
                    console.error('Failed to connect/disconnect');
                }
            });
        });

        socket.on('update_piezo_value_a', function(data) {
            console.log(data);
            document.getElementById('a_x').value = data.x_value;
            document.getElementById('a_y').value = data.y_value;
            document.getElementById('a_z').value = data.z_value;
        });

        socket.on('update_piezo_value_b', function(data) {
            document.getElementById('b_x').value = data.x_value;
            document.getElementById('b_y').value = data.y_value;
            document.getElementById('b_z').value = data.z_value;
        });

        // truncate value of axis if exceeds max value
        function truncateValue(event) {
            const maxValue = 75;
            if (event.target.value > maxValue) {
                event.target.value = maxValue;
            }
        }

        // list of input ids for piezo axes
        const inputIds = ['a_x', 'a_y', 'a_z', 'b_x', 'b_y', 'b_z'];
        inputIds.forEach(id => {
            document.getElementById(id).addEventListener('input', truncateValue);
        });

        // update voltages on change
        inputIds.forEach(id => {
            document.getElementById(id).addEventListener('change', function() {
                const axis = id;
                const voltage = this.value;
                console.log(axis, voltage);
                fetch('/set_voltage', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({
                        axis: axis,
                        voltage: voltage
                    })
                });
            });
        });
        </script>
</body>
</html>
